<% content_for :doc_hd do %>
<style>
#main{background-color: #a88065;}
</style>
<% end %>
<% content_for :main do %>
<div id="wrapper">
<%= render partial: "question_bank/html/normal/widget_limit.erb" %>
</div>
<% end %>